.terraform
.*.swp

bin/
downloads/
authorized_keys
aws.config

terraform.tfstate*
*.retry

# binaries
own_config

sslroot
.env
node_modules

lambda
lambda.zip

**/.vscode

src/*.tf
# UI has its own repo
src/ui/vetzuki
