# GetProspect: Lambda
resource "aws_lambda_function" "getProspectLambda" {
    filename = "getProspect/lambda.zip"
    function_name = "${var.getProspectLambdaName}"
    role = "${aws_iam_role.lambdaRole.arn}"
    handler = "handler"
    runtime = "go1.x"
    source_code_hash = "${filebase64sha256("getProspect/lambda.zip")}"
    environment {
      variables = {
        SSH_URL = "ssh.${var.vetzukiEnvironment}.vetzuki.com"
        DB_HOST = "db.${var.vetzukiEnvironment}.vetzuki.com"
        DB_PORT = "${var.db_port}"
        DB_USER = "${var.db_user}"
        DB_PASSWORD = "${var.db_password}"
        DB_NAME = "${var.db_name}"

      }
    }
}
# CreateProspect: Lambda
resource "aws_lambda_function" "createProspect" {
    filename = "createProspect/lambda.zip"
    function_name = "createProspect-${var.vetzukiEnvironment}"
    role = "${aws_iam_role.lambdaRole.arn}"
    handler = "handler"
    runtime = "go1.x"
    source_code_hash = "${filebase64sha256("createProspect/lambda.zip")}"
    environment {
      variables = {
        SSH_URL = "ssh.${var.vetzukiEnvironment}.vetzuki.com"
        DB_HOST = "db.${var.vetzukiEnvironment}.vetzuki.com"
        DB_PORT = "${var.db_port}"
        DB_USER = "${var.db_user}"
        DB_PASSWORD = "${var.db_password}"
        DB_NAME = "${var.db_name}"
      }
    }
}

# CreateProspect : Allow APIGateway to execute CreateProspect Lambda
resource "aws_lambda_permission" "createProspect" {
    statement_id = "AllowExecutionFromAPIGateway"
    action = "lambda:InvokeFunction"
    function_name = "${aws_lambda_function.createProspect.function_name}"
    principal = "apigateway.amazonaws.com"
}