{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Deny",
            "Principal": "*",
            "Action": "execute-api:Invoke",
            "Resource": "arn:aws:execute-api:us-west-2:588487667149:1a3cwd55s6/*/GET/p/*",
            "Condition": {
                "NotIpAddress": {
                    "aws:SourceIp": "71.204.152.97/32"
                }
            }
        },
        {
            "Effect": "Allow",
            "Principal": "*",
            "Action": "execute-api:Invoke",
            "Resource": "arn:aws:execute-api:us-west-2:588487667149:1a3cwd55s6/*/GET/p/*",
            "Condition": {
                "IpAddress": {
                    "aws:SourceIp": "71.204.152.97/32"
                }
            }
        }
    ]
}